{% extends '::index.html.twig' %}
{% block title %}
    {{ sdata.panel.title.genset }}
{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{{ asset('bundles/panel/css/jquery-ui-1.10.3.custom.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/panel/css/chosen.css') }}" />
    <style>
        t{font-family: opensans;}
    </style>

{% endblock %}
{% block content %}
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try {
                //ace.settings.check('breadcrumbs', 'fixed')
            } catch (e) {
            }
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
                <a href="{{ path('acme_panel_homepage') }}">{{ sdata.panel.menu.dash }}</a>
            </li>

            <li class="active">
                {{ sdata.panel.menu.genset }}
            </li>
        </ul><!-- .breadcrumb -->

        <div class="nav-search" id="nav-search">
            <form class="form-search">
                <span class="input-icon">
                    <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off">
                    <i class="icon-search nav-search-icon"></i>
                </span>
            </form>
        </div><!-- #nav-search -->
    </div>
    <div class="page-content">
        <div class="row">
            <div class="col-xs-12">

                <h3 class="header smaller lighter blue">  {{ sdata.panel.head.genSettings }} </h3>
                <form class="form-horizontal" role="form" id="settingUpdate">
                    <div class="clearfix form-actions">

                        <div class="alert alert-block alert-info">
                            <button type="button" class="close" data-dismiss="alert">
                                <i class="icon-remove"></i>
                            </button>
                            <i class="icon-ok blue"></i>
                            {{ sdata.panel.mess.genInfoMessage }} 

                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label no-padding-right" for="form-field-1">  {{ sdata.panel.form.admUser }} </label>

                            <div class="col-sm-8">
                                <input type="text" id="form-field-1" placeholder="" name="adminUser" class="col-xs-10 col-sm-5" value="{{ settings[0].adminUser }}"/>
                            </div>
                        </div> 

                        <div class="form-group">
                            <label class="col-sm-4 control-label no-padding-right" for="form-field-1"> {{ sdata.panel.form.admPass }}  </label>

                            <div class="col-sm-8">
                                <input type="text" id="form-field-1" placeholder="" name="adminPass" class="col-xs-10 col-sm-5" value="{{ settings[0].adminPass }}" />
                            </div>
                        </div> 
                        <hr>
                        <div class="form-group">
                            <label class="col-sm-4 control-label no-padding-right" for="form-field-1"> {{ sdata.panel.form.sysLan }} </label>

                            <div class="col-sm-8">
                                <select class="width-40 chosen-select" id="form-field-select-3" data-placeholder="" name="sysLan">
                                    {% for k,v in langs %}

                                        {% if k == settings[0].sysLan %}
                                        <option value="{{ k }}" selected> {{ v }} </option>
                                        {% else %}
                                            <option value="{{ k }}"> {{ v }} </option>
                                            {% endif %}
                                                {% endfor %}
                                                </select>
                                            </div>
                                        </div>  

                                        <hr>

                                        <div class="form-group">
                                            <label class="col-sm-4 control-label no-padding-right" for="form-field-1"> {{ sdata.panel.form.siteHead }}  </label>

                                            <div class="col-sm-8">
                                                <input type="text" id="form-field-1" placeholder="" name="siteHead" class="col-xs-10 col-sm-5" value="{{ settings[0].siteTitle }}"/>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-4 control-label no-padding-right" for="form-field-1"> {{ sdata.panel.form.siteTopHead }} </label>

                                            <div class="col-sm-8">
                                                <input type="text" id="form-field-1" placeholder="" name="topHead" class="col-xs-10 col-sm-5"  value="{{ settings[0].siteHeader }}"/>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-4 control-label no-padding-right" for="form-field-1"> {{ sdata.panel.form.siteBotHead }} </label>

                                            <div class="col-sm-8">
                                                <input type="text" id="form-field-1" placeholder="" name="bottomHead" class="col-xs-10 col-sm-5"  value="{{ settings[0].siteFooter }}"/>
                                            </div>
                                        </div>
                                        <hr>
                                        
                                        <!-- 7 haziran update  -->
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label no-padding-right" > {{ sdata.panel.form.siteKeys }} </label>

                                            <div class="col-sm-8">
                                                <input type="text" id="siteKeys" value="{{ settings[0].siteKeys }}" name="siteKeys" />
                                            </div>

                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-4 control-label no-padding-right" > {{ sdata.panel.form.favicon }} </label>

                                            <div class="col-sm-8">
                                                <input type="text" value="{{ settings[0].favicon }}" name="favicon" class="col-xs-10 col-sm-5"/>
                                            </div>

                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-4 control-label no-padding-right" > {{ sdata.panel.form.googleAna }} </label>

                                            <div class="col-sm-4">
                                                <textarea class="form-control" name="googleAna" value="{{ settings[0].googleAnal }}">{{ settings[0].googleAnal }}</textarea>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-4 control-label no-padding-right" > {{ sdata.panel.form.siteLogo }} </label>

                                            <div class="col-sm-8">
                                                <input type="text" value="{{ settings[0].siteLogo }}" name="siteLogo"  class="col-xs-10 col-sm-5"/>
                                            </div>
                                        </div>
                                        <!-- Site başlığı zaten üstte yazıldığı için commentlendi 
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label no-padding-right" > {{ sdata.panel.form.siteTitle }} </label>

                                            <div class="col-sm-8">
                                                <input type="text" value="{{ settings[0].siteTitleBro }}" name="siteTitle"  class="col-xs-10 col-sm-5"/>
                                            </div>
                                        </div>
                                        -->

                                        <div class="form-group">
                                            <label class="col-sm-4 control-label no-padding-right" > {{ sdata.panel.form.siteDesc }} </label>

                                            <div class="col-sm-4">
                                                <textarea class="form-control limited" maxlength="200" name="siteDesc" value="{{ settings[0].siteDesc }}">{{ settings[0].siteDesc }}</textarea>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-4 control-label no-padding-right" > {{ sdata.panel.form.copyrPlace }} </label>

                                            <div class="col-sm-8">
                                                <input type="text" value="{{ settings[0].copyPlace }}"  class="col-xs-10 col-sm-5" name="copyrPlace" />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-4 control-label no-padding-right" > {{ sdata.panel.form.homeBigPlace }} </label>

                                            <div class="col-sm-4">
                                                <textarea class="form-control" name="homeBigPlace" value="{{ settings[0].homeEntryPla }}">{{ settings[0].homeEntryPla }}</textarea>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-4 control-label no-padding-right" > {{ sdata.panel.form.LWTBut }} </label>

                                            <div class="col-sm-8">
                                                <input type="text" value="{{ settings[0].logWithTwitterBut }}"  class="col-xs-10 col-sm-5" name="LWTBut" />
                                            </div>
                                        </div>

                                        <hr>

                                        <div class="form-group">
                                            <label class="col-sm-4 control-label no-padding-right" > {{ sdata.panel.form.siteFea1 }} </label>

                                            <div class="col-sm-8">
                                                <input type="text" value="{{ settings[0].siteFea1 }}" class="col-xs-10 col-sm-5" name="siteFea1" />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-4 control-label no-padding-right" > {{ sdata.panel.form.siteFea2 }} </label>

                                            <div class="col-sm-8">
                                                <input type="text" value="{{ settings[0].siteFea2 }}" class="col-xs-10 col-sm-5" name="siteFea2" />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-4 control-label no-padding-right" > {{ sdata.panel.form.siteFea3 }} </label>

                                            <div class="col-sm-8">
                                                <input type="text" value="{{ settings[0].siteFea3 }}" name="siteFea3"  class="col-xs-10 col-sm-5"/>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-4 control-label no-padding-right" > {{ sdata.panel.form.siteFea4 }} </label>

                                            <div class="col-sm-8">
                                                <input type="text" value="{{ settings[0].siteFea4 }}" name="siteFea4"  class="col-xs-10 col-sm-5"/>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-4 control-label no-padding-right" > {{ sdata.panel.form.siteFea5 }} </label>

                                            <div class="col-sm-8">
                                                <input type="text" value="{{ settings[0].siteFea5 }}"  class="col-xs-10 col-sm-5" name="siteFea5" />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-4 control-label no-padding-right" > {{ sdata.panel.form.siteFea6 }} </label>

                                            <div class="col-sm-8">
                                                <input type="text" value="{{ settings[0].siteFea6 }}" name="siteFea6"  class="col-xs-10 col-sm-5"/>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-4 control-label no-padding-right" > {{ sdata.panel.form.siteFea7 }} </label>

                                            <div class="col-sm-8">
                                                <input type="text" value="{{ settings[0].siteFea7 }}"  class="col-xs-10 col-sm-5" name="siteFea7" />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-4 control-label no-padding-right" > {{ sdata.panel.form.siteFea8 }} </label>

                                            <div class="col-sm-8">
                                                <input type="text" value="{{ settings[0].siteFea8 }}"  class="col-xs-10 col-sm-5" name="siteFea8" />
                                            </div>
                                        </div>

                                        <hr>

                                        <div class="form-group">
                                            <label class="col-sm-4 control-label no-padding-right" > {{ sdata.panel.form.HTaCreInfo }} </label>

                                            <div class="col-sm-4">
                                                <textarea class="form-control" name="HTaCreInfo" value="{{ settings[0].takeCreInfos }}">{{ settings[0].takeCreInfos }}</textarea>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-4 control-label no-padding-right" > {{ sdata.panel.form.HTaFolInfo }} </label>

                                            <div class="col-sm-4">
                                                <textarea class="form-control" name="HTaFolInfo" value="{{ settings[0].takeFolInfos }}">{{ settings[0].takeFolInfos }}</textarea>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-4 control-label no-padding-right" > {{ sdata.panel.form.HTaRetInfo }} </label>

                                            <div class="col-sm-4">
                                                <textarea class="form-control" name="HTaRetInfo" value="{{ settings[0].takeRetInfos }}">{{ settings[0].takeRetInfos }}</textarea>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-4 control-label no-padding-right" > {{ sdata.panel.form.HMaTweInfo }} </label>

                                            <div class="col-sm-4">
                                                <textarea class="form-control" name="HMaTweInfo" value="{{ settings[0].takeTweInfos }}">{{ settings[0].takeTweInfos }}</textarea>
                                            </div>
                                        </div>

                                        <!-- 7 haziran update -->
                                        <hr/>
                                        
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label no-padding-right" for="form-field-1"> {{ sdata.panel.form.homeApi }} </label>

                                            <div class="col-sm-8">
                                                <select class="width-40 chosen-select" id="form-field-select-3" data-placeholder="" name="mainApi">
                                                    {% for v in apis %}
                                                        {% if v.apiId == settings[0].mainApi %}
                                                        <option value="{{ v.apiId }}" selected> {{ v.apiName }} </option>
                                                        {% else %}
                                                            <option value="{{ v.apiId }}"> {{ v.apiName }} </option>
                                                            {% endif %}
                                                                {% endfor %}
                                                                </select>
                                                            </div>
                                                        </div>    
                                                        <hr>

                                                        <div class="form-group">
                                                            <label class="col-sm-4 control-label no-padding-right" for="form-field-1"> {{ sdata.panel.form.dailyCredit }} </label>

                                                            <div class="col-sm-4">
                                                                <input type="text" id="form-field-1" placeholder="" name="dayCredit" class="col-xs-10 col-sm-5"  value="{{ settings[0].normalKredi }}"/>
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="col-sm-4 control-label no-padding-right" for="form-field-1"> {{ sdata.panel.form.yourPaypalMail }} </label>

                                                            <div class="col-sm-8">
                                                                <input type="text" id="form-field-1" placeholder="" name="paypalMail" class="col-xs-10 col-sm-5"  value="{{ settings[0].paypalMail }}"/>
                                                            </div>						
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="col-sm-4 control-label no-padding-right" for="form-field-1"> {{ sdata.panel.form.otoTweet }}</label>

                                                            <div class="col-sm-8">
                                                                <select multiple="" class="width-40 chosen-select" id="form-field-select-4" data-placeholder="Tweetleri Seç" name="otoTweet[]">
                                                                    {% for item in selected_tweet %}

                                                                        <option value="{{ item }}" selected>{{ tweet_heads[item] }}</option>
                                                                    {% endfor %}
                                                                    {% for item in not_selected_tweet %}

                                                                        <option value="{{ item }}">{{ tweet_heads[item] }}</option>
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="col-sm-4 control-label no-padding-right" for="form-field-1"> {{ sdata.panel.form.otoFollow }} </label>

                                                            <div class="col-sm-8">
                                                                <input type="text" name="otoFollow" id="form-field-tags" value="{{ oto_follow_hesap }}" placeholder="" name="otoFollow" />
                                                            </div>

                                                        </div>

                                                        <div class="form-group">
                                                            <label class="col-sm-4 control-label no-padding-right" for="form-field-1"> {{ sdata.panel.form.facePage }} </label>

                                                            <div class="col-sm-8">
                                                                <input type="text" id="form-field-1" placeholder="" name="facePage" class="col-xs-10 col-sm-5"  value="{{ settings[0].facebookPage }}"/>
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="col-sm-4 control-label no-padding-right" for="form-field-1">{{ sdata.panel.form.twiPage }} </label>

                                                            <div class="col-sm-8">
                                                                <input type="text" id="form-field-1" placeholder="" name="twitterPage" class="col-xs-10 col-sm-5"  value="{{ settings[0].twitterPage }}"/>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-offset-4 col-md-9">
                                                            <button class="btn btn-info" type="button" onclick="ajax('{{ path('acme_panel_setting_update') }}', '#settingUpdate')">
                                                                <i class="icon-ok bigger-110"></i>
                                                                {{ sdata.panel.form.update }}
                                                            </button>
                                                        </div>	
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    {% endblock %}

                                        {% block script %}

                                            <!--[if lte IE 8]>
                                              <script src="{{ asset('bundles/panel/js/excanvas.min.js') }}"></script>
                                            <![endif]-->

                                            <script src="{{ asset('bundles/panel/js/jquery-ui-1.10.3.custom.min.js') }}"></script>
                                            <script src="{{ asset('bundles/panel/js/jquery.ui.touch-punch.min.js') }}"></script>
                                            <script src="{{ asset('bundles/panel/js/chosen.jquery.min.js') }}"></script>
                                            <script src="{{ asset('bundles/panel/js/fuelux/fuelux.spinner.min.js') }}"></script>
                                            <script src="{{ asset('bundles/panel/js/date-time/bootstrap-datepicker.min.js') }}"></script>
                                            <script src="{{ asset('bundles/panel/js/date-time/bootstrap-timepicker.min.js') }}"></script>
                                            <script src="{{ asset('bundles/panel/js/date-time/moment.min.js') }}"></script>
                                            <script src="{{ asset('bundles/panel/js/date-time/daterangepicker.min.js') }}"></script>
                                            <script src="{{ asset('bundles/panel/js/bootstrap-colorpicker.min.js') }}"></script>
                                            <script src="{{ asset('bundles/panel/js/jquery.knob.min.js') }}"></script>
                                            <script src="{{ asset('bundles/panel/js/jquery.autosize.min.js') }}"></script>
                                            <script src="{{ asset('bundles/panel/js/jquery.inputlimiter.1.3.1.min.js') }}"></script>
                                            <script src="{{ asset('bundles/panel/js/jquery.maskedinput.min.js') }}"></script>
                                            <script src="{{ asset('bundles/panel/js/bootstrap-tag.min.js') }}"></script>
                                            <script src="{{ asset('bundles/panel/js/jquery.dataTables.min.js') }}"></script>
                                            <script src="{{ asset('bundles/panel/js/jquery.dataTables.bootstrap.js') }}"></script>
                                            <script type="text/javascript">
                                                                jQuery(function($) {
                                                                    var oTable1 = $('#sample-table-2').dataTable({
                                                                        "aoColumns": [
                                                                            {"bSortable": false},
                                                                            null, null, null, null, null, null, null, null, null, null,
                                                                            {"bSortable": false}
                                                                        ]});


                                                                    $('table th input:checkbox').on('click', function() {
                                                                        var that = this;
                                                                        $(this).closest('table').find('tr > td:first-child input:checkbox')
                                                                                .each(function() {
                                                                                    this.checked = that.checked;
                                                                                    $(this).closest('tr').toggleClass('selected');
                                                                                });

                                                                    });


                                                                    $('[data-rel="tooltip"]').tooltip({placement: tooltip_placement});
                                                                    function tooltip_placement(context, source) {
                                                                        var $source = $(source);
                                                                        var $parent = $source.closest('table')
                                                                        var off1 = $parent.offset();
                                                                        var w1 = $parent.width();

                                                                        var off2 = $source.offset();
                                                                        var w2 = $source.width();

                                                                        if (parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2))
                                                                            return 'right';
                                                                        return 'left';
                                                                    }

                                                                    $('#spinner2').ace_spinner({value: 0, min: 0, max: 10000, step: 1, touch_spinner: true, icon_up: 'icon-caret-up', icon_down: 'icon-caret-down'});

                                                                    function showErrorAlert(reason, detail) {
                                                                        var msg = '';
                                                                        if (reason === 'unsupported-file-type') {
                                                                            msg = "Unsupported format " + detail;
                                                                        }
                                                                        else {
                                                                            console.log("error uploading file", reason, detail);
                                                                        }
                                                                        $('<div class="alert"> <button type="button" class="close" data-dismiss="alert">&times;</button>' +
                                                                                '<strong>File upload error</strong> ' + msg + ' </div>').prependTo('#alerts');
                                                                    }

                                                                    $('#editor1').ace_wysiwyg({
                                                                        toolbar:
                                                                                [
                                                                                    'font',
                                                                                    null,
                                                                                    'fontSize',
                                                                                    null,
                                                                                    {name: 'bold', className: 'btn-info'},
                                                                                    {name: 'italic', className: 'btn-info'},
                                                                                    {name: 'strikethrough', className: 'btn-info'},
                                                                                    {name: 'underline', className: 'btn-info'},
                                                                                    null,
                                                                                    {name: 'insertunorderedlist', className: 'btn-success'},
                                                                                    {name: 'insertorderedlist', className: 'btn-success'},
                                                                                    {name: 'outdent', className: 'btn-purple'},
                                                                                    {name: 'indent', className: 'btn-purple'},
                                                                                    null,
                                                                                    {name: 'justifyleft', className: 'btn-primary'},
                                                                                    {name: 'justifycenter', className: 'btn-primary'},
                                                                                    {name: 'justifyright', className: 'btn-primary'},
                                                                                    {name: 'justifyfull', className: 'btn-inverse'},
                                                                                    null,
                                                                                    {name: 'createLink', className: 'btn-pink'},
                                                                                    {name: 'unlink', className: 'btn-pink'},
                                                                                    null,
                                                                                    {name: 'insertImage', className: 'btn-success'},
                                                                                    null,
                                                                                    'foreColor',
                                                                                    null,
                                                                                    {name: 'undo', className: 'btn-grey'},
                                                                                    {name: 'redo', className: 'btn-grey'}
                                                                                ],
                                                                        'wysiwyg': {
                                                                            fileUploadError: showErrorAlert
                                                                        }
                                                                    }).prev().addClass('wysiwyg-style2');

                                                                    if (typeof jQuery.ui !== 'undefined' && /applewebkit/.test(navigator.userAgent.toLowerCase())) {

                                                                        var lastResizableImg = null;
                                                                        function destroyResizable() {
                                                                            if (lastResizableImg == null)
                                                                                return;
                                                                            lastResizableImg.resizable("destroy");
                                                                            lastResizableImg.removeData('resizable');
                                                                            lastResizableImg = null;
                                                                        }

                                                                        var enableImageResize = function() {
                                                                            $('.wysiwyg-editor')
                                                                                    .on('mousedown', function(e) {
                                                                                        var target = $(e.target);
                                                                                        if (e.target instanceof HTMLImageElement) {
                                                                                            if (!target.data('resizable')) {
                                                                                                target.resizable({
                                                                                                    aspectRatio: e.target.width / e.target.height,
                                                                                                });
                                                                                                target.data('resizable', true);

                                                                                                if (lastResizableImg != null) {//disable previous resizable image
                                                                                                    lastResizableImg.resizable("destroy");
                                                                                                    lastResizableImg.removeData('resizable');
                                                                                                }
                                                                                                lastResizableImg = target;
                                                                                            }
                                                                                        }
                                                                                    })
                                                                                    .on('click', function(e) {
                                                                                        if (lastResizableImg != null && !(e.target instanceof HTMLImageElement)) {
                                                                                            destroyResizable();
                                                                                        }
                                                                                    })
                                                                                    .on('keydown', function() {
                                                                                        destroyResizable();
                                                                                    });
                                                                        }

                                                                        enableImageResize();

                                                                        /**
                                                                         //or we can load the jQuery UI dynamically only if needed
                                                                         if (typeof jQuery.ui !== 'undefined') enableImageResize();
                                                                         else {//load jQuery UI if not loaded
                                                                         $.getScript($path_assets+"/js/jquery-ui-1.10.3.custom.min.js", function(data, textStatus, jqxhr) {
                                                                         if('ontouchend' in document) {//also load touch-punch for touch devices
                                                                         $.getScript($path_assets+"/js/jquery.ui.touch-punch.min.js", function(data, textStatus, jqxhr) {
                                                                         enableImageResize();
                                                                         });
                                                                         } else	enableImageResize();
                                                                         });
                                                                         }
                                                                         */
                                                                    }

                                                                    $(".chosen-select").chosen();
                                                                    $('#chosen-multiple-style').on('click', function(e) {
                                                                        var target = $(e.target).find('input[type=radio]');
                                                                        var which = parseInt(target.val());
                                                                        if (which == 2)
                                                                            $('#form-field-select-4').addClass('tag-input-style');
                                                                        else
                                                                            $('#form-field-select-4').removeClass('tag-input-style');
                                                                    });


                                                                    $('textarea.limited').inputlimiter({
                                                                        remText: '%n karakter kaldı',
                                                                        limitText: '/ Max karakter : %n.'
                                                                    });

                                                                    $('#id-input-file-1 , #id-input-file-2').ace_file_input({
                                                                        no_file: 'No File ...',
                                                                        btn_choose: 'Resim Seç',
                                                                        btn_change: 'Değiştir',
                                                                        droppable: true,
                                                                        onchange: null,
                                                                        thumbnail: false, //| true | large
                                                                        whitelist: 'gif|png|jpg|jpeg'
                                                                                //blacklist:'exe|php'
                                                                                //onchange:''
                                                                                //
                                                                    });

                                                                    var tag_input = $('#form-field-tags');
                                                                    if (!(/msie\s*(8|7|6)/.test(navigator.userAgent.toLowerCase())))
                                                                    {
                                                                        tag_input.tag(
                                                                                {
                                                                                    placeholder: tag_input.attr('placeholder'),
                                                                                    //enable typeahead by specifying the source array
                                                                                    source: ace.variable_US_STATES, //defined in ace.js >> ace.enable_search_ahead
                                                                                }
                                                                        );
                                                                    }
                                                                    else {
                                                                        //display a textarea for old IE, because it doesn't support this plugin or another one I tried!
                                                                        tag_input.after('<textarea id="' + tag_input.attr('id') + '" name="' + tag_input.attr('name') + '" rows="3">' + tag_input.val() + '</textarea>').remove();
                                                                        //$('#form-field-tags').autosize({append: "\n"});
                                                                    }
                                                                    
                                                                    //7 haziran tarihinde güncellendi
                                                                    var siteKeys = $('#siteKeys');
                                                                    if (!(/msie\s*(8|7|6)/.test(navigator.userAgent.toLowerCase())))
                                                                    {
                                                                        siteKeys.tag(
                                                                                {
                                                                                    placeholder: siteKeys.attr('placeholder'),
                                                                                    //enable typeahead by specifying the source array
                                                                                    source: ace.variable_US_STATES, //defined in ace.js >> ace.enable_search_ahead
                                                                                }
                                                                        );
                                                                    }
                                                                    else {
                                                                        //display a textarea for old IE, because it doesn't support this plugin or another one I tried!
                                                                        siteKeys.after('<textarea id="' + siteKeys.attr('id') + '" name="' + siteKeys.attr('name') + '" rows="3">' + siteKeys.val() + '</textarea>').remove();
                                                                        //$('#form-field-tags').autosize({append: "\n"});
                                                                    }


                                                                });
                                            </script>

                                        {% endblock %}